.back{
    background-color: #ff4c68;
}

#blur.active{
    filter: blur(10px);
    transition: 0.2s;
    position: fixed;
}

#popup{
    position: fixed;
    top: 40%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    background-color: aliceblue;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    padding: 10px;
    margin-left: 220px;
    overflow-y: scroll;
}

#popup.active{
    position: fixed;
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 10%;
    overflow-y: scroll;
}

.tagline{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20%;
    line-height: 1.7;
    text-align: left;
}

.message{
    color: black;
}

.univImage{
    width: 420px;
    height: 400px;
    transform: rotate(25deg);
    position: absolute;
    top: 22%;
    right: 5%;
}

.downloadBtn {
    margin-left: 25%;
    margin-bottom: 50px;
}

.title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

#welcome_msg{
    margin-left: 10px;
    color: white;
    font-family: 'Ubuntu';
}

.loginSection{
    margin-left: 400px;
    font-family: 'Ubuntu';
    font-size: 16px;
}

.admin,.student{
    font: 'Ubuntu';
}

.middle{
    width: 2px;
    border-right: 1px solid black;
    height: 200px;
}

.studentLogin{
    font-family: 'Ubuntu', sans-serif;
    width: 350px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}   

.loginHeading{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.fields{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.submit{
    transform: translateX(8%);
    width: 300px;
    border-radius: 50px;
    font: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.google,.facebook{
    margin-bottom: 10px;
}

.register{
    background-color: #b16e0a;
    text-decoration: none;
}

.upcomingExam{
    font-family:  sans-serif;
    width: 370px;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 18px;
}

.logo{
    width: 70px;
    height: 60px;
    margin-right: 10px;
    color: white;
    margin-left: 2px;
}

.upload{
    border-radius: 5px;
    box-shadow: 5px 10px 5px 10px;
    margin: 10px;
    height: 400px;
    border: 2px solid black;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .60);
}

.hr_line{
    border: 2px solid ;
    width: 90%;
    color: black;
}

.upload_heading{
    margin-top: 5px;
    text-align: center;
    font-family: 'Ubuntu' , sans-serif;
    font-weight: 40px;
}

.moving_content{
    height: 300px;
    padding: 10px;
}

.moving_item{
    border-bottom: 2px solid black;
    font-family: 'Montserrat';
    color: red;
    cursor: pointer;
}

.slider{
    margin-top: 10px;
    padding: 40px;
    font-family: 'Montserrat';
    color: azure;
    font-size: 33px;
}

.slider_heading{
    color: black;  
    margin-bottom: 50px;  
}

.slide{
    border: 2px solid black;
    box-shadow:0 5px 30px rgba(0, 0, 0, .60);
    border-radius: 10px;
}

.sliding_items{
    padding: 30px;
}

.slider_line{
    text-decoration: underline;
    color: #ff4c68;
    justify-content: left;
}

.slider_image{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.right{
    float: right;
}

.oAuthLogo{
    width: 30px; 
    height: 30px;
    margin-left: -50px;
    margin-right: 10px;
}

#aboutUs{
    background-color: #ff4c68;
}

.devImage{
    border-radius: 50%;
    margin: 5px 50px 5px 50px;
}

.shilpita,.ruby, .prabhakar{
    height: 150px;
    width: 150px;
}

.developerHeading{
    font-family: 'Ubuntu';
    color: white;
    text-align: center;
}

.line1{
    color: white;
}

.text{
    color: white;
    justify-content: right;
    font-family: 'Ubuntu';
}

#footer {
    margin: 100px 100px;
    background-color: #fff;
    text-align: center;
}

.copyright {
    font-size: 15px;
    font-family: 'Ubuntu';
    color: gray;
    padding: 10px;
}
.icon {
    padding: 5px;
    font-size: 30px;
}